// Colors
// Trello colors are picked from https://trello.com/about/branding
$trello-blue:       #0079BF;
$trello-blue-100:   #BCD9EA;
$trello-green:      #61BD4F;
$trello-text:       #4D4D4D;
$trello-text-quiet: #8C8C8C;
