@import 'variables';

body,
.nvd3 text {
  font-family: "Facit", -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $trello-text;
}

label {
  color: $trello-text-quiet;
}

.title {
  margin-top: 0;
  height:      80px; // match GitHub corner height
  line-height: 80px; // center text vertically

  & > small {
    font-size : 50%;
  }
}

.center-align-around {
  display         : flex;
  align-items     : center;
  justify-content : space-around;
}

.chart {
  height : 30rem;
}

.m-top {
  margin-top : 2rem;
}

// Debug
.d {
  border : 1px red solid;
}

// GitHub corner
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%, 100% { transform: rotate(0); }
  20%, 60% { transform: rotate(-25deg); }
  40%, 80% { transform: rotate(10deg); }
}

@media (max-width:500px){
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
