h1 {
  & > small {
    display   : block;
    color     : gray;
    font-size : 50%;
  }
}

.center-align-around {
  display         : flex;
  align-items     : center;
  justify-content : space-around;
}

.chart {
  height : 30rem;
}

.m-top {
  margin-top : 2rem;
}

.d {
  border : 1px red solid;
}
