body {
  font-family : Georgia, serif;
  font-size   : 16px;
  background  : white;
  color       : black;
}

h1 {
  font-size : 2em;
  margin    : 0.5em 0 1em;

  & > small {
    color     : gray;
    font-size : 70%;
  }
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}
